@charset "UTF-8";
body{
    background-color: aqua;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
color: rgb(18, 108, 108);


}

h1#principal{
    text-align: center;
    background-color: blue;
    color: rgb(243, 243, 239);
 }



h2{
    color:rgb(18, 108, 108); 


}

.basico{
    color: darkslateblue;
}
.medio{
    color: rgb(245, 213, 32);
}

.forte{
    color: brown;
}
